{% load static %}

{% block about %}
  <section id="about" class="section scrollspy">
    <h3 class="page-title white-text teal">Обо мне</h3>
    <div class="container flow-text">
      <blockquote>
        <h2>
          Целеустремленный начинающий Back-end разработчик на языке Python с помощью фреймворка Django
        </h2>
      </blockquote>
      <p>
        Я студент последних курсов бакалавриата Финансового университета при правительстве Российской Федерации 
        по направлению "ИТ-сервисы и технологии обработки данных в экономике и финансах". Помимо анализа данных
        меня также интересует и Back-end разработка, именно поэтому я решил погрузиться в эту сферу максимально глубоко.
        Параллельно с учебой в университете я обучаюсь в "Школе 21" от Сбера, которая также способствует моему 
        профессиональному развитию в данном направлении.
      </p>
      <p>
        Как и любому другому человеку мне нравится создавать что-то новое и значимое для людей, поэтому я решил
        использовать фреймворк Django, так как с его помощью можно разработать полноценные веб-приложения, а также
        создать API для взаимодействия с другими сервисами.
      </p>
      <p>
        <strong>Изучаю на данный момент</strong>:&nbsp;<span
          >Django</span
        >&nbsp;/&nbsp;<span
          >DRF</span
        >&nbsp;/&nbsp;<span
          >REST API</span
        >
      </p>
    </div>
  </section>
{% endblock about %}