{% load static %} {% block contact %}
<section id="contact" class="section scrollspy full-height">
  <h3 class="page-title white-text teal">Контакты</h3>
  <div class="container">
    <p>
      <a
        aria-label="Напиши мне на почту"
        href="mailto:andrey.kuskov.05@gmail.com"
        data-position="top"
        data-tooltip="Напиши мне на почту"
        class="btn-floating btn-large waves-effect waves-light brown tooltipped"
        ><i class="fa fa-envelope"></i
        ><a
          aria-label="Напиши мне на почту"
          href="mailto:andrey.kuskov.05@gmail.com"
          class="hoverline"
          >andrey.kuskov.05@gmail.com</a
        ></a
      >
    </p>
    <p>
      <a
        aria-label="Посмотрите мой профиль на GitHub"
        href="https://github.com/AndreyKuskov"
        target="_blank"
        data-position="top"
        data-tooltip="Посмотрите мой профиль на GitHub"
        class="btn-floating btn-large waves-effect waves-light brown tooltipped"
        ><i class="fa fa-github"></i
        ><a
          aria-label="Я на Github"
          href="https://github.com/AndreyKuskov"
          class="hoverline"
          >github.com/AndreyKuskov</a
        ></a
      >
    </p>
	<p>
		<a
		  aria-label="Напишите мне в Telegram"
		  href="https://t.me/AndreyKuskov"
		  target="_blank"
		  data-position="top"
		  data-tooltip="Напишите мне в Telegram"
		  class="btn-floating btn-large waves-effect waves-light brown tooltipped"
		  ><i class="fa-brands fa-telegram"></i><a
			aria-label="Я в Telegram"
			href="https://t.me/AndreyKuskov"
			class="hoverline"
			>t.me/AndreyKuskov</a
		  ></a
		>
	  </p>
    <p>
      <a
        aria-label="Посмотрите мой профиль на LinkedIn"
        href="https://www.linkedin.com/in/andreykuskov/"
        target="_blank"
        data-position="top"
        data-tooltip="Посмотрите мой профиль на LinkedIn"
        class="btn-floating btn-large waves-effect waves-light brown tooltipped"
        ><i class="fa fa-linkedin"></i
        ><a
          aria-label="Я на LinkedIn"
          href="https://www.linkedin.com/in/andreykuskov/"
          class="hoverline"
          >linkedin.com/in/andreykuskov</a
        ></a
      >
    </p>
  </div>
</section>
{% endblock contact %}
